/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #d3d1cb #edece9;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #edece9;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d3d1cb;
    border-radius: 0px;
    border: 0px none #ffffff;
  }